---
import Layout from '../layouts/Layout.astro';
const bg= "../content/images/bg.jpg"
import { Icon } from 'astro-icon/components'

--- 

<Layout title="Amangoua Ange | Creative Web Developer.">
	<main>
		<div class="max-w-8xl absolute h-full w-full mx-auto grid grid-cols-3 md:grid-cols-6 divide-x-0 divide-white/[0.1]">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div class="absolute w-ref md:w-def md:h-def h-ref rounded-full  border -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 z-20"></div>
		</div>
		<div class="relative max-w-6xl w-full h-screen flex flex-col mx-auto justify-between items-center">
			<div class="text-md w-50 relative text-white text-center grid grid-cols-3 mt-5 items-center"> 
			<span>Local time</span>
			<span class="flex justify-center items-center"><Icon  name='star2' size={15}/></span>	
			<span class="absolute right-6" id="clock"></span>	
			</div>
			<div class="w-full text-white text-center">
				<h1 class="font-FS lg:text-primary tracking-tight leading-tight">Amangoua</h1>
				<h1 class="font-FS lg:text-primary tracking-tight leading-tight">Ange</h1>
				<div class="border-2 text-xl border-white/[.2] marquee inline-block px-10 py-2 rounded-full my-5">
					<div class="marquee_inner">
						<span>
							<div class="orb">
								<Icon name='star'/>
							</div>
							<div class="orb">
								Creative Coder
							</div>
							<div class="orb">
								<Icon name='star'/>
							</div>
							<div class="orb">
								Creative Designer 
							</div>
							
						</span> 
						<span>
							<div class="orb">
								<Icon name='star'/>
							</div>
							<div class="orb">
								Creative Coder
							</div>
							<div class="orb">
								<Icon name='star'/>
							</div>
							<div class="orb">
								Creative Designer 
							</div>
							
						</span> 
					</div>	
				</div>
				<p class="font-SM font-thin text-xl flex flex-col">
				<span><span class="italic mr-1">Crafting digital</span>  interfaces</span>
					<span>Available for freelance projects</span>
				</p>
			</div>
			<div>
				
			</div>
		</div>
	</main>
</Layout>

<style>	
 [data-icon] {
color: yellow;
 }
 [data-icon='star2'] {
color: white;
 }
main{
height: 100%;
width: 100%;
background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0) 0%, rgb(0, 0, 0,80%) 1%);
position: relative;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


</style>

<script is:inline>
function currentTime() {
  let date = new Date(); 
  
  let hh = date.getHours().toLocaleString();
  let mm = date.getMinutes().toLocaleString();
  let ss = date.getSeconds();
  let session = "AM";

  if(hh > 12){
      session = "PM";
  }

   hh = (hh < 10) ? "0" + hh : hh;
   mm = (mm < 10) ? "0" + mm : mm;
   ss = (ss < 10) ? "0" + ss : ss;
    
   let time = hh + ":" + mm + ":"+ ss  ;

  document.getElementById("clock").innerHTML = time; 
  let t = setTimeout(function(){ currentTime() }, 1000);
}
currentTime();
	
</script>