---
import Layout from '../layouts/Layout.astro';
import bg from "../content/images/bg.jpg"
import { Image } from 'astro:assets';
--- 

<Layout title="Amangoua Ange | Creative Web Developer.">
	<main>
		<div class="max-w-8xl absolute h-full w-full mx-auto grid grid-cols-3 md:grid-cols-6 divide-x divide-slate-50/[.05]">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div class="absolute w-ref md:w-def md:h-def h-ref rounded-full  border -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 z-20"></div>
		</div>
		<div class="relative max-w-6xl w-full h-screen flex flex-col mx-auto justify-between items-center">
			<div class="w-full text-xl text-white text-center ">Abidjan 16 : 06</div>
			<div class="w-full text-white text-center">
				<h1 class="font-FS lg:text-primary tracking-tight leading-tight">Amangoua</h1>
				<h1 class="font-FS lg:text-primary tracking-tight leading-tight">Ange</h1>
				<div class="border-2 border-slate-100/[.05] inline-block px-20 py-2.5 rounded-full my-5">
					creative coder | Designer
				</div>
				<p class="font-SM text-xl flex flex-col">
					<span>Crafting digital interfaces</span>
					<span>Available for freelance projects</span>
				</p>
			</div>
			<div>
				
			</div>
		</div>
	</main>
</Layout>



<style>	
main{
height: 100%;
width: 100%;
background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%);
position: relative;
}	
</style>