---
import Layout from '../layouts/Layout.astro';
import bg from "../content/images/bg.jpg"
import { Image } from 'astro:assets';
--- 

<Layout title="Amangoua Ange | Creative Web Developer.">
	<main>
		<div class="max-w-8xl h-full w-full mx-auto grid grid-cols-6 divide-x divide-slate-50/[.15]">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div class="absolute w-def h-def rounded-full -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 z-50"></div>
		</div>
	</main>
</Layout>



<style>	

main{
height: 100%;
width: 100%;
background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.7) 0%, rgb(27, 27, 27) 100%), url('../content/images/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
}	
</style>