---
import Ico from "./Ico.astro"
---

<div class="h-[370px] bg border-slate-50/[.15] border-y w-full flex flex-col items-center justify-center py-2">
    <div class="text-center  relative h-full">
      <h4 class="text-xl mt-5 text-yellow"> Get in touch</h4>
      <div class="grid grid-cols-4 justify-items-center gap-2 mt-2 mx-10">
        <Ico icon='envelope' href='mailto:amangouakacouange@gmail.com'/>
        <Ico icon='linkedin' href='https://www.linkedin.com/in/angethierry/'/>
        <Ico icon='github' href='https://github.com/amangouste225'/>
        <Ico icon='instagram' href='/'/>
      </div>
      <div class="text-white mt-10 bor w-full p-5">
        <p class="text-center">
         Amangoua Ange. Built in 2024 <br>
Built with Astro JS, Tailwind CSS, and GSAP.
        </p>
        <p class="opacity-50 font-thin mt-1 text-md">Last updated Jan 2024</p>
      </div>
    </div>
    <div class="bord w-full flex  h-14 absolute bottom-5">
        <div class="flex-1 ok"></div>
        <div class="w-[300px] mx-3"></div>
        <div class="flex-1 ko"></div>
    </div>
</div>
