---

const { title} = Astro.props

---

<div class="fixed bottom-12 border-2 bg-black border-slate-50/[.15] -translate-x-1/2 translate-y-1/2 left-1/2 max-w-[350px] w-full p-4 rounded-3xl flex justify-between">
<span class="text-white"> Home</span>
<span class="text-white"> Home</span>
<span class="text-white"> Home</span>
<span class="text-white"> Home</span>
<span class="text-white"> Home</span>
</div>