---
import Icons from './Icons.astro'
---

<div class="fixed z-50 bottom-12 border-2 bg-black border-slate-50/[.15] p-1 -translate-x-1/2 translate-y-1/2 left-1/2 max-w-[300px] w-full rounded-xl grid grid-cols-5 text-white">
<Icons icon='home' href='/' info='Home' />
<Icons icon='info' href='/about' info='About'/>
<Icons icon='work' href='/work' info='Works'/>
<Icons icon='game' href='/game' info='Blog' />
<Icons icon='sound' info='Sound'/>
</div>

