@font-face {
  font-family: "FS";
  src: url("./FS.ttf");
}

@font-face {
  font-family: "SM";
  src: url("./SplineSans-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  position: relative;
  background: url("../content/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
