@font-face {
  font-family: "FS";
  src: url("./FS.ttf");
}

@font-face {
  font-family: "SM";
  src: url("./SplineSans-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  position: relative;
  background: url("../content/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.ico {
  position: relative;
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: yellow;
    position: absolute;
    bottom: 2px;
    border-radius: 50px;
    opacity: 0;
  }
}

// SCROLL BAR

/* width */
::-webkit-scrollbar {
  width: 0px;
}
